# Network RPC URLs
MANTRA_DUKONG_RPC_URL=https://evm.dukong.mantrachain.io
MANTRA_MAINNET_RPC_URL=https://evm.mantrachain.io

# Deployment
PROXY_ADMIN_PRIVATE_KEY= # UUXG / Devnet MZ Admin Wallet
FACTORY_ADMIN_PRIVATE_KEY= # MF Test
LEDGER_ADDRESS=your_ledger_address_here

# Gas Reporter
REPORT_GAS=false
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key_here
